<?xml version="1.0" encoding="utf-8" ?>
<html xmlns:f="http://typo3.org/ns/typo3/fluid/viewhelpers">

    <f:layout name="Default" />

    <f:section name="Title"><f:translate id="events">Events</f:translate></f:section>

    <f:section name="Content">
        <table>
            <thead>
                <th><f:translate id="event.name">Name</f:translate></th>
                <th><f:translate id="event.date">Date</f:translate></th>
                <th><f:translate id="event.description">Description</f:translate></th>
            </thead>
            <tbody>
                <f:for each="{events}" as="event">
                    <tr>
                        <td>{event.name}</td>
                        <td><f:format.date format="Y-m-d">{event.date}</f:format.date></td>
                        <td>{event.description}</td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </f:section>
</html>
